{% extends 'core/base.html' %} {% load static %} {% block title %} {{ post.title
}} {% endblock %} {% block content %}

<div class="grid-container full bg-soft-secondary">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell large-8 text-center padding-vertical-7">
      <div class="post-header">
        <div class="post-category text-line">
          <a
            href="{% url 'category_detail' post.category.slug %}"
            class="hover"
            rel="category"
            >{{ post.category }}</a
          >
        </div>
        <h1 class="h-prime">{{ post.title }}</h1>
        <ul class="post-meta mb-5">
          <li class="post-date">
            <i class="uil uil-calendar-alt"></i
            ><span>{{ post.created_at|date:'M-d-Y' }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="grid-container bg-white">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell large-9 medium-9 small-9 padding-vertical-3">
      <div class="row gx-0 mb-16 mb-mb-20 relative img-state-page classic-view">
        <article class="post">
          <div class="card">
            {% if post.image %}
            <figure class="card-img-top hover-scale">
              <img
                class="img-fluid-page mx-auto"
                src="{{ post.image.url }}"
                alt="{{ post.title }}"
              />
            </figure>
            {% endif %}
            <div class="card-body">
              <div class="post-content padding-vertical-1">
                <p>{{ post.introduction }}</p>
                <p>{{ post.body }}</p>
                <blockquote class="p-prime my-8">
                  <p><strong>{{ post.excerpt }}</strong></p>
                </blockquote>
                <p>{{ post.conclusion }}</p>

                <hr class="padding-vertical-1" />
              </div>
              <!-- /.post-content -->
            </div>
            <!--/.card-body -->
          </div>
          <!-- /.card -->
        </article>
        <!-- /.post -->
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x align-middle align-center">
    <div
      class="image-wrapper bg-auto no-overlay bg-image text-center align-center bg-map"
      data-image-src="{% static 'assets/images/photos/map.png' %}"
    >
      <div class="grid-x grid-padding-x align-middle align-center">
        <div class="cell large-9 padding-horizontal-4 margin-vertical-5">
          <h3 class="margin-vertical-3">
            You can have access to data concerning EV in multiple cities in the
            UK using this platform.
          </h3>

          <div class="d-flex justify-content-center">
            <a class="button primary margin-horizontal-1" href="#">About Us</a>
            <a class="button secondary margin-horizontal-1" href="#">EV Data</a>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
  </div>
</div>

{% endblock %}
